* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.montserrat-mont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #333;
    margin: 0;
    border: 10px;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    padding: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 15px;
}

nav a:hover {
    background-color: white;
    color: #333;
}

body {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    padding: 100px;
}

.sec-header {
    font-size: 3.25rem;
    margin-bottom: 25px;
}

#home-page {
    padding-top: 275px;
    margin-left: 100px;
    margin-bottom: 100px;
}

#home-page h1 {
    color: #333;
    font-size: 3.5rem;
    font-family: "Montserrat", sans-serif;
}

#home-page h2 {
    color: #333;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    margin-left: 20px;
}

#home-page aside {
    margin-top: 250px;
}

#home-page ul {
    list-style-type: none;
}

#home-page h3 {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 5px;
}

#education {
    background-color: #333;
    color: white;
}

.coursework {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.coursework h3 {
    margin-top: 50px;
    font-size: 2.5rem;
    width: 100%;
}

.course-col {
    flex: 1;
    padding: 30px;
    margin-left: 100px;
    text-align: left;
}

.course-col h4 {
    font-size: 1.75rem;
    padding-bottom: 10px;
}

.course-col ul {
    font-size: 1.5rem;
}

#projects {
    color: #333;
}