.montserrat-mont {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.material-symbols-outlined {
    font-size: 15px;
}

body {
    font-family: "Montserrat", sans-serif;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.sec-header {
    font-size: 3.25rem;
}

#home-page h1 {
    color: #333;
    font-size: 3.5rem;
}

#home-page h2 {
    color: #333;
    font-size: 2rem;
    margin-top: 10px;
}

#home-page aside {
    margin-top: 250px;
}

#home-page ul {
    list-style-type: none;
}

#home-page h3 {
    margin-bottom: 5px;
}

#education {
    background-color: #333;
    color: white;
    padding: 100px;
}

.coursework {
    margin-bottom: 100px;
}

.coursework h3 {
    margin-top: 50px;
    font-size: 2.5rem;
}

.course-col {
    text-align: left;
}

.course-col h4 {
    font-size: 1.75rem;
    padding-bottom: 10px;
}

.course-col em {
    font-size: 1.25rem;
    color: white;
}

.course-col ul {
    color: lightblue;
}

#projects {
    color: #333;
    padding: 100px;
}

.project-desc {
    padding-top: 25px;
    margin-bottom: 100px;
}

.project-col {
    padding: 30px;
    text-align: left;
}

.project-col h3 {
    margin-top: 50px;
    padding-bottom: 20px;
}

.project-col em {
    font-size: 2rem;
    font-style: normal;
}

.project-col h4 {
    font-size: 1.25rem;
    padding-bottom: 10px;
}

.project-col p {
    font-size: 1.1rem;
}

#skills {
    background-color: #333;
    color: white;
    padding: 100px;
}

#skills table {
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    background-color: lightgrey;
    border-collapse: collapse;
}

#skills caption {
    caption-side: top;
    color: white;
    font-size: 2rem;
}

#skills th, td {
    color: #333;
}

#skills td {
    padding: 15px;
    text-align: center;
}